<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMoney"
        tools:targetApi="31">
        <activity
            android:name=".activity_launch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity_signup" />
        <activity android:name=".activity_addTransaction" />
        <activity android:name=".activity_home" />
        <activity android:name=".activity_forgetPass" />
        <activity android:name=".activity_help"/>
        <activity android:name=".activity_language"/>
        <activity android:name=".activity_editNoti"/>
        <activity android:name=".activity_editProfile"/>
        <activity android:name=".activity_settings"/>
        <activity android:name=".activity_statistics"/>
    </application>

</manifest>